---
layout: default
title: 8legged Blog Home
---
<div style="background: white; border: 5px dashed orange; margin: 1rem; padding: 1rem;">
  <code>Temporary test zone</code></br>
  <div style="border: 1px solid lightgrey;margin: 1rem;">
      <input type="radio" id="show" name="group">
      <label for="show" style="background: white;margin: 0.5rem;padding: 0.5rem;border: 1px solid grey;border-radius: 15px;"><span><strong>SHOW</strong></span></label>
      <input type="radio" id="hide" name="group">
      <label for="hide"><span><strong>HIDE</strong></span></label>
      <span id="content">Content</span> and so on
  </div>
</div>


{% include goals.html %}

{% include main-page-posts.html %}

{% include pagination.html %}

{% include quote.html %}
