---
layout: default
title: Home
---

<div class="goals">
    <p>
      Trying to make the web as fast as possible, highly readable, responsive, and easy to navigate. Advocate for users and open-source.
    </p>
</div>
<div>
    <blockquote cite="https://twitter.com/searls/status/609521655405113344">
    <table>
        <thead>
            <tr>
                <th>jargon</th>
                <th>normal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cloud</td>
                <td>servers</td>
            </tr>
            <tr>
                <td>algorithm</td>
                <td>code</td>
            </tr>
            <tr>
                <td>app</td>
                <td>code w/an icon</td>
            </tr>
            <tr>
                <td>reason about</td>
                <td>understand</td>
            </tr>
            <tr>
                <td>isomorphic</td>
                <td>reused</td>
            </tr>
            <tr>
                <td>technical debt</td>
                <td>mess</td>
            </tr>
        </tbody>
    </table>
    </blockquote>
</div>

<div class="posts">
    {% for post in site.posts %}
    <article class="post">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="entry">
            {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>

<div class="pagination">
    <h3>Warning: Pagination shows duplicate pages<br /><br /></h3>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

{% comment %}
<!--
<p>start test 1</p>
{#% paginate site.posts by 5 %}
  {#% for post in site.posts %}
stuff
  {#% endfor %}
{#% endpaginate %}
<p>end test 1</p>
 -->
<!--
<p>start test 2</p>
{{ paginate | default_pagination }}
<p>end test 2</p>
 -->
{% endcomment %}

<div>
    <section id="downloads" class="clearfix">
        <a href="https://github.com/8legged/8legged.github.io/zipball/master" id="download-zip" class="button">
            <span>Download .zip</span>
        </a>
        <a href="https://github.com/8legged/8legged.github.io/tarball/master" id="download-tar-gz" class="button">
            <span>Download .tar.gz</span>
        </a>
        <a href="https://github.com/8legged/8legged.github.io" id="view-on-github" class="button">
            <span>View on GitHub</span>
        </a>
    </section>
</div>
