<!-- Original source code: https://github.com/elliottb/skinnytip/blob/master/sample.html -->

<h2>Tooltip</h2>
<h5>Basic</h5>
<p>
  Hover
  <span class="skinnytip" data-text="Tooltip contents">here</span>
  for text.
</p>
<p>
  Hover
  <a href="http://www.ebrueggeman.com/skinnytip" class="skinnytip" data-text="Tooltip contents">here</a>
  for a link with text.
</p>
<p>
  Hover
  <span class="skinnytip" data-text="Tooltip contents" data-title="Tooltip title">here</span>
  for text with a title.
</p>

<h5>Advanced</h5>
<p>
  <!-- inline styles -->
  Hover
  <span class="skinnytip" data-text="Tooltip contents" data-options="borderColor: #333, backColor: #333, width: 150px, textPadding: 10px, textColor: #FFF">here</span>
  for text and other options.
</p>
<p>
  <!-- inline styles -->
  Hover
  <span class="skinnytip" data-text="Tooltip contents" data-title="Observations" data-options="borderColor: #3F3, backColor: #EFE">here</span>
  for title, text, and other options.
</p>
<p>
  <!-- inline styles -->
  Kitchen sink example: hover
  <span class="skinnytip" data-text="Tooltip contents" data-title="FYI" data-options="width: 200px, border: 1px, borderColor: #000, backColor: #EEE, textColor: #00F, titleTextColor: #FFF, fontFace: verdana, fontSize: 12px, titleFontSize: 15px, titlePadding: 10px, textPadding: 10px, xOffset: 30, yOffset: 30">here</span>
  for title, text, and other options.
</p>
