<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A Lonely Web Developer's Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png">     -->
    <!-- Place favicon.ico in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.1/gist-embed.min.js"></script>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/df5ca259-7a2c-4a93-9c96-610adc1bcb0a.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <script type="text/javascript" src="/./javascripts/skinnytip.js"></script>
</head>

<body>
    <div id="container">
        <div class="inner">
            <header>
                <h1><a href="/index.html">8legged</a></h1>
                {% include nav.html %}
            </header>

            <section id="main_content">
                {{ content }}
            </section>
            <footer>
              {% include footer.html %}
            </footer>
        </div>
    </div>

    <script type="text/javascript">
    SkinnyTip.init();
    </script>

    <script src="/./javascripts/tip.js"></script>
    <script>
    (function() {
        window.vanillaTip.init();
    })();
    </script>

</body>

</html>
